<div class="main"><br>
    <div id="home" (click)="gotourl('')" [class.selected]="url === '/'">&nbsp;&nbsp;Home<mat-icon>home</mat-icon></div>
    <div id="home" (click)="gotourl('about-us')" [class.selected]="url === '/about-us'"mat-icon-button>&nbsp;About<br>&nbsp;&nbsp;us<mat-icon>info</mat-icon></div>
    <div id="home" (click)="gotourl('contact')" [class.selected]="url === '/contact'">&nbsp;&nbsp;Contact<br>&nbsp;&nbsp; Us<mat-icon>call</mat-icon></div>
    <div id="home" (click)="gotourl('login')" [class.selected]="url === '/login'">&nbsp;&nbsp;Login<mat-icon>login</mat-icon></div>
</div>